.listings{
    display: flex;
    justify-content: center;
}

.saved-listing {
    background-color: #141416;
    display: flex;
    flex-direction: column;
    border: none;
    width: 15vw;
    height: 40vh;
    padding: 10px;
}

.saved-metadata {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
}

.delete-btn {
    display: flex;
    font-size: 12px;
    padding: 6px;
    border: none;
    background-color: red;
    width: 100%;
    justify-content: center;
}

.delete-btn:active{
    background-color: darkred;
}

