#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    scrollbar-width: none;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.overview {
    display: flex;
    flex-direction: row;
    gap: 5px;
    scrollbar-width: none;
}