.my-messages-btn {
    font-size: 12px;
    padding: 8px;
    border: none;
    width: 100%;
    background-color: black;
}

.my-messages-btn:hover{
    background-color: #0ea5e9;
}

.my-messages-btn:active{
    background-color: #38bdf8;
}